.reports-view ul.reports-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .reports-view ul.reports-list li {
    float: left;
    width: 23.5%;
    background-color: #FFF;
    margin-right: 2%;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.1); }
    .reports-view ul.reports-list li:last-child {
      margin-right: 0; }
    .reports-view ul.reports-list li .title {
      padding: 0.8em;
      color: rgba(0, 0, 0, 0.35); }
    .reports-view ul.reports-list li .description p {
      font-weight: 200;
      padding: 0.8em;
      color: rgba(0, 0, 0, 0.4); }
    .reports-view ul.reports-list li .generate {
      width: 100%;
      display: block;
      background-color: #f5f5f5;
      color: #A8A8A8;
      border-top: 1px solid #EDEDED;
      padding: 0.4em;
      text-align: center;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      transition: all 0.5s ease-in-out;
      cursor: pointer; }
      .reports-view ul.reports-list li .generate:hover {
        background-color: #1a1a1a;
        color: #FFF; }
.reports-view .report-title {
  font-size: 1.8rem; }
.reports-view .report-description {
  font-weight: 300;
  margin-bottom: 10px; }

.report-section {
  margin-bottom: 20px; }

.talk {
  margin-bottom: 20px;
  border-bottom: 1px solid #EDEDED; }
  .talk i {
    font-size: 1.4rem;
    margin-right: 8px; }
