extends ../reserved

block subviewcss
    link(rel='stylesheet', href='/css/reports.css')

block subview
    div(class="reports-view" id="report")
      div(class="row")
          div(class="small-12 large-12 columns")
            div(class="report-title") Occupazione settimanale
            div(class="report-description")
              p Il report mostra la produzione dell'hotel per un dato periodo divisa per giorno della settimana.

      div(class="row")
        div(class="small-12 large-12 columns")
          div(class="page-container")
              div(class="row")
                div(class="small-12 large-12 columns")
                  div(class="recap")
                    ul
                      li
                        div(class="title") Occupazione
                        div(class="value") {scope.data.totals.totalOccupancy}
                      li
                        div(class="title") ADR Medio
                        div(class="value") {scope.averageAdr | currency}
                      li
                        div(class="title") Totale produzione
                        div(class="value") {scope.data.totals.totalProduction | currency}
                      li
                        div(class="title") BW Media
                        div(class="value") {scope.averageWindow | numround}
                    div(class="clear-fix")

              div(class="row")
                div(class="small-6 large-6 columns")
                  div(id="weekly-occupancy")
                div(class="small-6 large-6 columns")
                  div(id="weekly-revenue")

    block subviewjs
            script(src='/components/weekly_occupancy.js')
