extends reserved

block subviewcss
    link(rel='stylesheet', href='/css/reports.css')

block subview
    div(class="reports-view")
      div(class="row")
          div(class="small-12 large-12 columns")
              ul(class="reports-list")
                li
                  div(class="title") Strutture Attive
                  div(class="description")
                    p Strutture attive su hermes con prenotazioni nell'ultimo mese.
                  a(class="generate" href="/reserved/reports/list/structures") Elabora

    block subviewjs
            script(src='/components/resports.js')
