extends reserved

block subviewcss
    link(rel='stylesheet', href='/css/reports.css')

block subview
    div(class="row")
        div(class="small-3 large-3 columns")
            p r1
            
    block subviewjs
            script(src='/components/resports.js')