extends ../layout
block viewcss
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-noir.min.css')
	link(rel='stylesheet', href='/css/reserved.css')
	block subviewcss
block content
	div(class="reserved-wrapper")
		div(class="header")
			div(class="row")
				div(class="small-2 large-2 columns")
					span(class="logo") HermesLytics
				div(class="small-4 large-4 small-offset-6 large-offset-6 columns user-actions text-right")
					ul
						li(class="user")
							a(href="#") wannymiarelli@live.com
						li(class="logout") 
							a(href="#") Esci
						div(class="clear-fix")
					
		div(class="sub-header")
			div(class="row")
				div(class="small-8 large-8 columns")
					ul
						li
							div(class="pick-hotel")
								i(class="streamline-hotel-five-stars")
								input(type="text" placeholder="Seleziona un Hotel" id="hotelListBox")
								
						li(class=(current==='dashboard' ? 'active' : ''))
							a(href="#")
								i(class="streamline-speed-gauge")
								span Dashboard
						li(class=(current==='hotels' ? 'active' : ''))
							a(href="#")
								i(class="streamline-hotel-five-stars")
								span Hotels
		
		div(class="sub-view")
			block subview
				block subviewjs
block viewjs
	script(src='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.5/highcharts.js')
	script(src='/components/reserved.js')