extends ../layout
block viewcss
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-noir.min.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css')
	link(rel='stylesheet', href='https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css')
	link(rel='stylesheet', href='/css/reserved.css')
	block subviewcss
block content
	div(class="reserved-wrapper")
		div(class="reserved-loading")
			div(class="valign-wrapper")
				div(class="valign")
					div(class="loading")
						div(class="finger finger-1")
							div(class="finger-item")
								span
								i
						div(class="finger finger-2")
							div(class="finger-item")
								span
								i
						div(class="finger finger-3")
							div(class="finger-item")
								span
								i
						div(class="finger finger-4")
							div(class="finger-item")
								span
								i
						div(class="last-finger")
							div(class="last-finger-item")
								i
					h4 solo un momento...
		div(class="header")
			div(class="row")
				div(class="small-2 large-2 columns")
					span(class="logo") HermesLytics
				div(class="small-4 large-4 small-offset-6 large-offset-6 columns user-actions text-right")
					ul
						li(class="user")
							a(href="/reserved/settings/profile") wannymiarelli@live.com
						li(class="logout")
							a(href="#") Esci
						div(class="clear-fix")

		div(class="sub-header")
			div(class="row")
				div(class="small-8 large-8 columns")
					ul
						li
							div(class="pick-hotel")
								i(class="streamline-hotel-five-stars")
								input(type="text" placeholder="Seleziona un Hotel" id="hotelListBox")

						li(class=(current==='dashboard' ? 'active' : ''))
							a(href="/reserved/dashboard")
								i(class="streamline-speed-gauge")
								span Dashboard
						li(class=(current==='reports' ? 'active' : ''))
							a(href="#")
								i(class="streamline-file-line-graph-check")
								span Reports

		div(class="sub-view")
			div(class="no-hotels")
				div(class="row")
					div(class="large-12 small-12 columns")
						div(class="text-center")
							img(src="/img/hey.svg")
							h2 Hey... non hai ancora collegato nessun Hotel? <br>
								small inserisci qui sotto i <strong class="tooltipstered" title="Se non conosci il tuo codice ID, richiedilo allo staff HermesHotels">codici ID</strong> degli Hotel che vuoi tracciare.
							input(id="tags" name="tags")
							button(class="button primary" id="trace-hotels") Traccia questi Hotels!
			block subview
				block subviewjs
block viewjs
	script(src='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js')
	script(src='//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js')
	script(src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js")
	script(src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/rivets/0.8.1/rivets.bundled.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.5/highcharts.js')
	script(src='/components/reserved.js')
