extends settings
block settingpartial
    div(class="page-container")
        div(class="row")
            div(class="small-12 large-12 columns")
                div(class="title") Gestione Strutture associate
                