extends layout

block content
    div(class="box404")
        img(src='http://i.giphy.com/W4dODpR8dpNHa.gif')
        h1 404 ERROR - You are lost... <br>
            small
                | Mr. Wolf will help you go <a href="/login">home</a>