extends layout

block content
    div(class="box404")
        img(src='http://i.giphy.com/ESKkDw9o57mGA.gif')
        h1 500 ERROR - Something goes really really wrong... <br>
            small
                | We are actively looking for a solution... try again later. Back to the <a href="/login">home</a>